:host {
    width: 100%;
    height: 100%;
    display: flex;
}

.form-container {
    min-width: 30rem;
    margin: auto;
    font-size: 14px;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 6px blue;
    display: flex;
    flex-direction: column;
    form > * {
        width: 100%;
    }
}