<div class="form-container">
  <form [formGroup]="taskForm">
    <mat-form-field appearance="outline">
      <mat-label>Task Name</mat-label>
      <input matInput
             formControlName="taskName"
             id="taskName"
             class="task-name"
             type="text"
             placeholder="Name">
    </mat-form-field>

    <app-avl-datetime-picker>

    </app-avl-datetime-picker>

    <mat-form-field>
      <textarea matInput
                formControlName="description"
                placeholder="Description"
                id="description"
                class="description"></textarea>
    </mat-form-field>
  </form>
</div>